
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
// .dashboard{
//     display:flex;
//     flex-direction: row;
//     height:100vh;
// }
// .gif{
//     display:flex;
//     font-family: 'Poppins', sans-serif;
//     // background-color: black;
//     // width:50%;
//     // justify-content: center;
//     // align-items: center;
// }
// .image{
//     height:60%;
//     width:60%;
// }
// .outlet{
//     display: flex;
//     flex:1;
//     // background-color:rgb(211, 211, 211);
//     justify-content: center;
//     align-items: center;
// }





.dashboard{
    height:100vh;
    background:url('../../Images/band-performing-studio.jpg');
    background-size: cover;
    background-position: center;
}
.section-dash{
    overflow:hidden;
    height:100vh;
    position:relative;
}
.div1{
    position:absolute;
    height:100%;
    width:90%;
    top:8%;
    left:5%;
    background-color: aliceblue;
    opacity: 0.1;
}
.div2{
    position:absolute;
    height:10%;
    width:50%;
    top:0;
    left:3%;
    background-color: #2e1114;
    opacity:0.5;
}
.div3{
    position:absolute;
    height:100%;
    width:10%;
    top:10%;
    left:22%;
    background-color: #2e1114;
    opacity:0.5;
}
.div4{
    position:absolute;
    height:100%;
    width:10%;
    top:10%;
    left:32%;
    background-color: #83677b;
    opacity:0.1;
}
.div5{
    border-radius: 50%;
    position:absolute;
    height:250px;
    width:250px;
    background-color: #83677b;
    opacity:0.5;
    top:-2%;
    left:70%;
}
.div6{
    border-radius: 50%;
    position:absolute;
    height:800px;
    width:800px;
    right:-30%;
    top:40%;
    background-color:#83677b;
    opacity:0.5;
}
.content{
    position:absolute;
    height:700px;
    width:700px;
    display:flex;
    align-items: center;
    justify-content: center;
    top:15%;
    left:30%;
}




// .dashboard{
//     background:url('./band-performing-studio.jpg');
//     background-size: cover;
//     background-position: center;
//     overflow:hidden;
//     height:100vh;
// }
// .div1{
//     height:100%;
//     background-color: white;
//     width:5%;
// }
// .div2{
//     position:absolute;
//     top:0;
//     width:100%;
//     background-color: white;
//     height:5%;
// }
// .div3{
//     position:absolute;
//     top:0;
//     right:0;
//     height:100%;
//     background-color: white;
//     width:5%;
// }
// .text{
//     // position:absolute;
//     // top:0;
//     overflow:hidden;
//     font-size: 800px;
//     font-weight: bold;
//     color: transparent;
//     background-image: url('./band-performing-studio.jpg');
//     background-size: cover;
//     background-color: #83677b;
//     opacity:0.9;
//     background-position: center;
//     -webkit-background-clip: text; /* For webkit-based browsers */
//     text-align: center;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }

// .dashboard{
//     height:100vh;
//     background-color: aquamarine;
//     display: flex;
//     justify-content: center;
// }
// .no-white-back{
//     position:absolute;
//     top:10%;
//     width:80%;
//     height:90%;
//     background-image: url('./band-performing-studio.jpg');
//     background-size: cover;
//     // width: 100%;
//     // height: 100vh;
//     position: relative;
// }
